<script type="text/javascript">
  q()
  x()
</script>



<script type="text/javascript">


$("#myDiv").hide();
</script>



<h3>Search for some food:</h3>
<input type="text" id="box"></input>
<div id="food"></div>


